<%= form_for Track.new do |f| %>
  <%= f.label :link %>:
  <%= f.text_field :link %><br />
  <%= f.submit "Add" %>
<% end %>

<h1>Tracks:</h1>
<ol>
  <% @tracks.each do |track| %>
    <%= embed(track.link) %>
  <% end %>
</ol>
